.detail-container-div{
    width: 70%;
    margin: 0 auto;
    .back-icon{
        background: #61892f;
        color: white;
        border-radius: 3px;
        padding: 5px 20px;
        cursor: pointer;
        margin-bottom: 15px;
        position: absolute;
        left: 20px;
    }
    .detail-container {
        position: relative;
        color: whitesmoke;
        margin: 20px 40px;
        min-height: auto;
        .show-name {
            font-size: 25px;
            color: #b4d08b;
            margin-bottom: 15px;
        }
        .show-summary{
            width: 65%;
        }
        img {
            position: absolute;
            right: 0;
            box-shadow: 2px 2px 10px #48681a;
            width: 25%;
        }
        span {
            font-size: 15px;
            color: #b4d08b;
        }
        a {
            color: #b4d08b;
        }
    }
}

@media(max-width: 599.99px) {
    .detail-container-div{
        width: 90%;
        .back-icon{
            padding: 2px 6px;
            margin-bottom: 18px;
            left: 10px;
        }
        .detail-container {
                .show-name {
                    font-size: 20px;
                }
            .show-summary{
                width: 100%;
                margin: 0 0 20px 0;
            }
            img {
                display: none;
            }
        }
    }
}

@media(max-width: 1000px) and (min-width: 600px) {
    .detail-container-div{
        width: 80%;
        .back-icon{
            padding: 2px 10px;
            height: 20px;
            left: 10px;
        }
        .detail-container {
                .show-name {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
            .show-summary{
                width: 60%;
                margin: 0 0 20px 0;
            }
            img {
                width: 35%;
                max-width: 190px;
                min-width: 150px;
            }
        }
    }
}