<div class="container">
    <div class="genre-name"> {{genreData['type']}}</div>
    <div class="back-icon" (click)="goBack()">&larr;</div>
    <div class="show-list">
        <div class="show-list-div" [routerLink]="['/show-details/', show.id]"
            *ngFor="let show of genreData['list']">
            <!-- <div class="show-name">{{show.name}}</div> -->
            <div class="show-name-div"><div class="show-name">{{show.name}}</div></div>
            <img src="{{show.image.medium}}" />
        </div>
    </div>
</div>
    